$textMainColor: #292C44;
$textDisabledColor: #838383;
$backgroundColorLight: #EDEDED;
$borderColor: #53556F;
$blueBorderColor: #63D1FF;
$buttonBackgroundColor: #292C44;
$buttonTextColor: #EDEDED;
$activeLinkColor: #00A0E3;

$light_blue-light: #63D1FF;
$light_blue-medium: #00A0E3;
$light_blue-dark: #0072B1;

$dark_blue-light: #53556F;
$dark_blue-medium: #292C44;
$dark_blue-dark: #00001D;

$light_grey-light: #EDEDED;
$light_grey-medium: #B3B3B3;
$light_grey-dark: #838383;

$dark_grey-light: #6B6B6B;
$dark_grey-medium: #404040;
$dark_grey-dark: #1A1A1A;



