$textMainColor: #292C44;
$textDisabledColor: #838383;
$backgroundColorLight: #FFFFFF;
$borderColor: #53556F;
$blueBorderColor: #63D1FF;
$buttonBackgroundColor: #292C44;
$buttonTextColor: #FFFFFF;
$activeLinkColor: #00A0E3;

